<section>
  <h2>Choose Charactor from Each Team </h2>

    
    <button type="submit" class="btn" style="color:tomato">Fight!</button>
</section>

{{!-- if the "Fight!" button is clicked --}}
<section>
    <h2>Fighting:</h2>
    <p class="fightingprocess">
    {{!-- show the process and the result  --}}
    </p>
</section>

<a href="/postfightresult"> Create Post</a>

