<form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <textarea id="post-content" name="post-content">
    {{!-- insert fight result here --}}
      </textarea>
      {{!-- need backend to save and reload content in the viewcomment--}}
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{!-- <script src="/javascript/add-post.js"></script> --}}